.choose_playlist_screen {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.manage_playlists_button {
  color: white;
  font-size: 3vw;
  padding-top:1vw;
}

  @media only screen and (max-width: 600px) {
    .manage_playlists_button {
      color: white;
      font-size: 7vw;
      padding-top: 2vw;
    }
  }