.game-choice-screen {
    width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2vw;
    color: white;
    font-weight: 500;
    gap: 1vw;
  }
  

  @media only screen and (max-width: 600px) {

      .game-choice-screen {
        font-size: 8vw;
        gap: 3vw;
      }
  }