.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: space-between;
  width: 100%;
  padding: 0 3vw 2vw 3vw;
}


.playlist_outer {
  position: relative;
  width: 100%;
  color: white;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw 0 1vw 0;
  cursor: pointer;
}

.playlist_outer:hover {
  background-color: rgba(30, 215, 96, 0.5);
}

.playlist_outer.active:hover {
  background-color: rgba(218, 255, 231, 0.2) !important;
}

.playlist_image {
  width: 18vw;
  height: 18vw;
  background-color: black;
  border-radius: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--spotify-green);
  font-size: 4vw;
  box-shadow: 0px  0px 0.5vw 0.1vw black;

}

.playlist_name {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; 
  width: 17vw;
  height: 4vw;
  font-size: 1.3vw;
  font-weight: 600;
  margin-top: 1vw;
}

.playlist-add-remove-button {
  top: 0;
  right: 1.5vw;
  position: absolute;
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 50%;
  border: 0.2vw solid white;
  box-shadow: 0px  0px 0.5vw 0.1vw black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  cursor: pointer;
}

.playlist-add-remove-button.add {
  background-color: var(--spotify-green);
}

.playlist-add-remove-button.remove {
  background-color: rgb(255, 27, 27);
}

@media only screen and (max-width: 600px) {
  .playlist-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-content: space-between;
    row-gap: 2vw;
    padding: 2vw;
  }
  
  
  .playlist_outer {
    border-radius: 2vw;
    padding: 3vw 0 3vw 0;
  }
  
  
  .playlist_image {
    width: 40vw;
    height: 40vw;
    background-color: black;
    border-radius: 1vw;
    font-size: 12vw;
    box-shadow: 0px  0px 1.5vw 0.3vw black;

  }
  
  .playlist_name {
    width: 38vw;
    height: 8vw;
    font-size: 2.9vw;
    margin-top: 2vw;
  }
  
  .playlist-add-remove-button {
    height: 7.5vw;
    width: 7.5vw;
    border-radius: 50%;
    border: 0.2vw solid white;
    box-shadow: 0px  0px 1.5vw 0.3vw black;
    font-size: 4vw;
  }
  


  
}
