.quiz_master_outer {
  width: 100%;
  height: calc(100vh - 12vw);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.quiz-master-screen-inner {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.5vw;
  color: white;
  font-weight: 400;
}

.quiz-master-screen-name {
  font-size: 4vw;
  font-weight: 800;
  color: var(--spotify-green);
}

.quiz-master-screen-smaller-text {
  font-weight: 400;
  font-size: 2vw;
}

@media only screen and (max-width: 600px) {
  .quiz_master_outer {
    width: 100%;
    height: calc(100vh - 30vw);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .quiz-master-screen-inner {
    width: 90vw;

    font-size: 8vw;
  }

  .quiz-master-screen-name {
    font-size: 12vw;
  }
  .quiz-master-screen-smaller-text {
    font-size: 6.5vw;
  }
}
