.song_player_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 19vw);
}

.song_player_play_row {
  width: 25vw;
  height: 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song_player_spotify_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--spotify-green);
  font-size: 2vw;
  width: 5vw;
}

.song_player_meta_data {
  width: 16vw;
  height: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.song_player_meta_data_row {
  background-color: rgb(32, 35, 33);
  border-radius: 3vw;
}

.song_player_meta_data_row.up {
  width: 14vw;
  height: 1.5vw;
}

.song_player_meta_data_row.down {
  width: 11vw;
  height: 1.3vw;
}

.song_player_play_button {
  width: 6vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.song_player_title {
  font-size: 2vw;
  font-weight: 600;
  text-align: center;
  padding: 2vw;
}

.wave-outer {
  width: 25vw;
  height: 25vw;
  display: flex;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 35, 33);
  border-radius: 0.5vw;
  box-shadow: 0px 0px 0.1vw 0.1vw black;
}

.wave-inner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.6vw;
}

.wave-item {
  background-color: var(--spotify-green);
  height: 3vw;
  width: 1.2vw;
  border-radius: 1vw;
}

#wave .wave-item.playing:nth-child(1) {
  animation: 2s linear wave infinite;
  animation-delay: 0.6s;
}

#wave .wave-item.playing:nth-child(2) {
  animation: 1.5s linear wave infinite;
  animation-delay: 0.2s;
}

#wave .wave-item.playing:nth-child(3) {
  animation: 1.5s linear wave infinite;
  animation-delay: 0.4s;
}

#wave .wave-item.playing:nth-child(4) {
  animation: 1.5s linear wave infinite;
  animation-delay: 1s;
}

#wave .wave-item.playing:nth-child(5) {
  animation: 1.5s linear wave infinite;
  animation-delay: 0.2s;
}

#wave .wave-item.playing:nth-child(6) {
  animation: 1.5s linear wave infinite;
}

#wave .wave-item.playing:nth-child(7) {
  animation: 1.5s linear wave infinite;
  animation-delay: 0.6s;
}

#wave .wave-item.playing:nth-child(8) {
  animation: 1.5s linear wave infinite;
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    transform: scaleY(1);
    border-radius: 10px;
  }
  50% {
    transform: scaleY(3);
    border-radius: 100px;
  }
  100% {
    transform: scaleY(1);
    border-radius: 10px;
  }
}

.play-pause-button {
  width: 3.5vw;
  height: 3.5vw;
  border-radius: 50%;
  background-color: var(--spotify-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
  color: var(--spotify-black);
  border: 1px solid black;
  box-shadow: 0px 0px 0.3vw 0.1vw black;
}

.song_player_playlist_row {
  width: 25vw;
  display: flex;
  flex-direction: row;
  padding: 0.5vw;
  gap: 1vw;
}

.song_player_playlist_album {
  height: 3.5vw;
  width: 3.5vw;
  border-radius: 0.2vw;
}

.song_player_playlist_title {
  color: white;
  width: 100%;
  font-size: 1.2vw;
  font-weight: 600;
}

.song_player_playlist_title_subtitle {
  font-size: 1.2vw;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .song_player_content {
    height: calc(100vh - 50vw);
  }

  .song_player_play_row {
    width: 60vw;
    height: 15vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .song_player_spotify_logo {
    font-size: 6vw;
    width: 14vw;
  }

  .song_player_meta_data {
    width: 35vw;
    height: 15vw;
  }

  .song_player_meta_data_row {
    border-radius: 5vw;
  }

  .song_player_meta_data_row.up {
    width: 30vw;
    height: 3.5vw;
  }

  .song_player_meta_data_row.down {
    width: 24vw;
    height: 3vw;
  }

  .song_player_play_button {
    width: 15vw;
  }

  .song_player_title {
    font-size: 6vw;
    padding: 5vw;
  }

  .wave-outer {
    width: 60vw;
    height: 60vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 1vw 0.1vw black;
  }

  .wave-inner {
    gap: 1.5vw;
  }

  .wave-item {
    height: 8vw;
    width: 2.5vw;
    border-radius: 3vw;
  }

  @keyframes wave {
    0% {
      transform: scaleY(1);
      border-radius: 4vw;
    }
    50% {
      transform: scaleY(3);
      border-radius: 12vw;
    }
    100% {
      transform: scaleY(1);
      border-radius: 4vw;
    }
  }

  .play-pause-button {
    width: 10vw;
    height: 10vw;
    font-size: 3.3vw;
    color: var(--spotify-black);
    border: 2px solid black;
    box-shadow: 0px 0px 0.5vw 0.2vw black;
  }

  .song_reveal_button_row {
    height: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .song_player_playlist_row {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.2vw;
    gap: 2vw;
  }

  .song_player_playlist_album {
    height: 8vw;
    width: 8vw;
    border-radius: 0.5vw;
  }

  .song_player_playlist_title {
    color: white;
    width: 100%;
    font-size: 3.5vw;
    font-weight: 600;
  }

  .song_player_playlist_title_subtitle {
    font-size: 3.5vw;
    font-weight: 300;
  }
}
