* {
    --nokia-color: rgb(49,57,76);
    --screen-color: rgba(154,195,4, 0.9);
    --snake-color: rgb(53, 53, 53);
}

.snake-outer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phone {
    width: 300px;
    height: fit-content;
    background-color: var(--nokia-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.phone-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    margin-bottom: 40px;
}

.phone-buttons .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 300px;
}

.phone-buttons .button {
    display: flex;
    align-items: center;
    width: 70px;
    height: 40px;
    background-color: rgb(173, 166, 166);
    border-radius: 20px;
    padding: 0 10px;
    color: rgb(29, 29, 29);
}
.phone-buttons .button .inner {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3px;
}
.phone-buttons .button .inner .number {
    font-size: 22px;
    font-weight: bold;
}
.phone-buttons .button .inner .rest {
    height: 100%;
    font-size: 14px;
    font-weight: 500;
}

.screen {
    width: fit-content;
    height: fit-content;
    background-color: var(--screen-color);
    margin-top: 30px;
    padding: 10px;
}

.score-bar {
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    border-bottom: 2px solid var(--snake-color);
}

.snake-inner {
    width: 600px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    border: 2px solid var(--snake-color);
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.grid-row {
    display: flex;
    flex-direction: row;
    gap:1px;
}

.empty-tile {
    width: 6px;
    height: 6px;
}

.pixel {
    width: 8px;
    height: 8px;
}

.pixel-row {
    width: 8px;
    height: 2px;
    gap: 1px;
    display: flex;
    flex-direction: row;
}

.pixel.snake {
    background-color: var(--snake-color);

}
.pixel.apple {
    background-color: red;

}

.pixel-filled {
    width: 2px;
    height: 2px;
    background-color: var(--snake-color);
}

.pixel-empty {
    width: 2px;
    height: 2px;
    background-color: transparent;
}
.snake-tile {
    width: 6px;
    height: 6px;
    background-color: rgb(53, 53, 53);
    border:1px solid rgb(81, 81, 81)
}

.apple-tile {
    width: 6px;
    height: 6px;
    background-color: red;
}

.direction-buttons {
    margin-top: 40px;
    width: 300px;
    height: fit-content;
    background-color: green;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.direction-buttons .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.direction-buttons .button {
    width: 60px;
    height: 50px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}