.plectrum {
    --fork-size: 10vw;
    --fork-color: black;
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.tuner-fork {
    position: absolute;
    height: calc(var(--fork-size) * 1.5) !important;
    width: calc(var(--fork-size) * 0.4) !important;
    background-color: var(--fork-color);
    top: calc(var(--fork-size) * -0.05);
    transform: scale(0.14);
    
}

.fork-bottom {
    position: absolute;
    height: calc(var(--fork-size) * 0.7) !important;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--fork-color);
    bottom: calc(var(--fork-size) * -0.35) ;
    left: calc(var(--fork-size) * -0.15) ;
}

.fork-top {
    position: absolute;
    height: calc(var(--fork-size) * 3.5) !important;
    width: calc(var(--fork-size) * 1.5) !important;
    background-color: transparent;
    top: calc(var(--fork-size) * -3.3);
    border: calc(var(--fork-size) * 0.4) solid var(--fork-color) ;
    border-top: none;
    left: calc(var(--fork-size) * -0.55) ;
    border-radius: 0 0 calc(var(--fork-size) * 0.25) calc(var(--fork-size) * 0.25) ;
}