.topbar {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    padding: 0.5vw 0;
    font-size: 2.5vw;
    border-bottom: 1px solid var(--main-color);
    text-align: center;
    color: var(--main-color);
    font-weight: 900;
    font-family: "Big Shoulders Inline Text";
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

@media only screen and (max-width: 600px) {
    .topbar {
        position: relative;
        width: 100vw;
        max-width: 100vw;
        border-bottom: 2px solid var(--main-color);
        padding: 2vw 0;
        font-size: 8vw;
        font-weight: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
}