* {
    --border-width: 4px;
    --main-color: rgb(168, 145, 66);
    --background-color: #202020;
    --standard-border: 1px solid var(--main-color);
    --business-card-width-desktop: 33vw;
    --business-card-height-desktop: calc(var(--business-card-width-desktop) / 1.75);
    --business-card-padding-desktop: 1.5vw;
    --business-card-width-mobile: 75vw;
    --business-card-height-mobile: calc(var(--business-card-width-mobile) / 1.75);
    --business-card-padding-mobile: 3vw;
    --shadow: 0px 0px 10px 1px rgb(212,175,55,0.6);
}

.homescreen-outer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    position: relative;
  }

  .qr-dims {
      width: 12vw;
      height: 12vw;
  }
  .centered {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 2vw;
  }

  .homescreen-inner {
      width: 100%;
      height: 100%;
      padding: 2vw;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .business-card-helper {

    z-index: 1;
    position: relative;
  }

  .business-card-outer {
    width: var(--business-card-width-desktop);
    height: var(--business-card-height-desktop);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vw;
    box-shadow: var(--shadow);
    animation: 2s business-card-slide-in;
    padding: var(--business-card-padding-desktop);
    border: 1px solid rgb(168, 145, 66);
    z-index: 3;
    margin-bottom: 5vw;
    background-color: var(--background-color);

  }
  

  .games-button {
    position: absolute;
    top: -5vw;
    left: 11vw;
    background-color: var(--background-color);
    border-radius: 2vw;
    padding: 0.4vw 1.5vw;
    animation: 2s button-pop-reversed;
    z-index: -1;
    color: rgb(168, 145, 66);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    font-size: 1.5vw;
    font-weight: 700;
    box-shadow: var(--shadow);
    border: 1px solid rgb(168, 145, 66);
    cursor: pointer;
  }
  
  
  .socials-button {
    position: absolute;
    bottom: 0vw;
    left: 3vw;
    background-color: var(--background-color);
    border-radius: 2vw;
    padding: 0.4vw 1.5vw;
    animation: 2s button-pop;
    z-index: -1;
    color: rgb(168, 145, 66);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    font-size: 1.5vw;
    font-weight: 700;
    box-shadow: var(--shadow);
    border: 1px solid rgb(168, 145, 66);
    cursor: pointer;
  }
  
  .piano-button {
    position: absolute;
    bottom: 0vw;
    right: 3vw;
    background-color: var(--background-color);
    border-radius: 2vw;
    padding: 0.4vw 1.5vw;
    animation: 2s button-pop;
    z-index: -1;
    color: rgb(168, 145, 66);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.7vw;
    font-size: 1.5vw;
    font-weight: 700;
    box-shadow: var(--shadow);
    border: 1px solid rgb(168, 145, 66);
    cursor: pointer;

  }
  
  
  
  
  
  
  @keyframes button-pop { 
    0% {
      transform: translateY(-20vw)
    }
    100% {
      transform: translateY(0)
    }
  }

  @keyframes button-pop-reversed {
    0% {
      transform: translateY(20vw)
    }
    100% {
      transform: translateY(0)
    }
  }
  
  @keyframes business-card-slide-in {
    0% {
      transform: translateY(-200vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  
  .business-card {
    --border-width: 4px;
    --border-color: rgb(168, 145, 66);
    width: 100%;
    height: 100%;
  
    padding: 4px;
    background:
      linear-gradient(to right, var(--border-color) var(--border-width), transparent var(--border-width)) 0 0,
      linear-gradient(to right, var(--border-color) var(--border-width), transparent var(--border-width)) 0 100%,
      linear-gradient(to left, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 0,
      linear-gradient(to left, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 100%,
      linear-gradient(to bottom, var(--border-color) var(--border-width), transparent var(--border-width)) 0 0,
      linear-gradient(to bottom, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 0,
      linear-gradient(to top, var(--border-color) var(--border-width), transparent var(--border-width)) 0 100%,
      linear-gradient(to top, var(--border-color) var(--border-width), transparent var(--border-width)) 100% 100%;
  
    background-repeat: no-repeat;
    background-size: 20px 20px;
    
  }
  
  .business-card-inner {
    width: 100%;
    height: 100%;
    padding: 1.5vw 2vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(168, 145, 66);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .business-card-inner .title {
    font-size: 2.3vw;
    font-weight: 700;
  }
  
  .business-card-inner .subtitle {
    font-size: 1.4vw;
  }
  
  .business-card-inner .additional-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
  }
  
  .additional-info .item {
    color: rgb(168, 145, 66);
    font-size: 1.2vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7vw;
  }
  
  .card-icon {
    margin-top: 0.2vw;
  }
  
  @media only screen and (max-width: 660px) {
    /* For mobile phones: */
    .business-card-outer {
        width: var(--business-card-width-mobile);
        height: var(--business-card-height-mobile);
        background-color: var(--background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1vw;
        box-shadow: var(--shadow);
        animation: 2s business-card-slide-in;
        padding: var(--business-card-padding-mobile);
        border: 1px solid rgb(168, 145, 66);
        z-index: 3;
        margin-bottom: 15vw;
      }
      
    /* .business-card-outer {
      width: var(--business-card-width-mobile);
      height: var(--business-card-height-mobile);
      padding: var(--business-card-padding-mobile);
      border-radius: 1vw;
      margin-bottom: 20vw;
    } */
  
    .business-card-inner {
      width: 100%;
      height: 100%;
      padding: 2vw 5vw;
      display: flex;
      justify-content: space-between;
    }
  
    .business-card-inner .title {
      font-size: 6vw !important;
    }
  
    .business-card-inner .subtitle {
      font-size: 4vw !important;
    }
  
    .business-card-inner .additional-info {
      gap: 0.5vw;
    }
  
    .additional-info .item {
      font-size: 3vw;
      display: flex;
      gap: 1.5vw;
    }
  
    .card-icon {
      margin-top: 0.4vw;
    }
  
    .business-card-helper {
        z-index: 1;
        position: relative;
      }
  
    .piano-button {
        position: absolute;
        bottom: 0vw;
        right: 3vw;
        background-color: var(--background-color);
        border-radius: 2vw;
        padding: 1vw 3vw;
        animation: 2s button-pop;
        z-index: -1;
        color: rgb(168, 145, 66);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 0.7vw;
        font-size: 4vw;
        font-weight: 700;
        box-shadow: var(--shadow);
        border: 1px solid rgb(168, 145, 66);
      }

    .socials-button {
        position: absolute;
        bottom: 0vw;
        left: 3vw;
        background-color: var(--background-color);
        border-radius: 2vw;
        padding: 1vw 3vw;
        animation: 2s button-pop;
        z-index: -1;
        color: rgb(168, 145, 66);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        font-size: 4vw;
        font-weight: 700;
        box-shadow: var(--shadow);
        border: 1px solid rgb(168, 145, 66);
      }

    .games-button {
        position: absolute;
        top: -15vw;
        left: 24vw;
        background-color: var(--background-color);
        border-radius: 2vw;
        padding: 1vw 3vw;
        animation: 2s button-pop-reversed;
        z-index: -1;
        color: rgb(168, 145, 66);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        font-size: 4vw;
        font-weight: 700;
        box-shadow: var(--shadow);
        border: 1px solid rgb(168, 145, 66);
      }
    .socials-button {
        position: absolute;
        bottom: 0vw;
        left: 3vw;
        background-color: var(--background-color);
        border-radius: 2vw;
        padding: 1vw 3vw;
        animation: 2s button-pop;
        z-index: -1;
        color: rgb(168, 145, 66);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1.5vw;
        font-size: 4vw;
        font-weight: 700;
        box-shadow: var(--shadow);
        border: 1px solid rgb(168, 145, 66);
      }

      .qr-dims {
        width: 30vw;
        height: 30vw;
    }
    .centered {
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: white;
      font-size: 5vw;
    }
  }