@font-face {
  font-family: "guitar";
  src: url("../assets/FugazOne-Regular.ttf");
}

* {
  --slider-width: 87vw;
}

.tools_outer {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slider {
  display: flex;
  position: relative;
  width: var(--slider-width);
  height: 40vw;
  margin: 2vw;
}

.slick-track {
  height: 30vw;
}

.slick-list {
  height: 40vw;
}

.plectrum svg {
  filter: drop-shadow(0 0 1vw rgba(168, 145, 66, 0.7));
}


.slick-slide div .single_tool {
  width: var(--slider-width);
  height: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single_tool_content {
  position: relative;
  width: 30vw ;
  height: 30vw ;
  border-radius: 50%;
  background-color: black;
  border: 0.2vw solid rgb(168, 145, 66);
  box-shadow: 0 0 1vw rgba(168, 145, 66, 0.7);
}

.tool_shadow {
  position: absolute;
  bottom: -4.5vw;
  left: 2.5vw;
  width: 25vw ;
  height: 2vw ;
  border-radius: 50%;
  background: radial-gradient(
    ellipse at bottom,
    rgba(168, 145, 66, 0.1),
    rgba(168, 145, 66, 0.3)
  );
  box-shadow: 0 -0.5vw 1.2vw rgba(168, 145, 66, 0.7);
}

.single_tool_inner {
  position: relative;
  width: 30vw ;
  height: 30vw ;
  border-radius: 50%;
  overflow: hidden !important;
}

.guitar_tuner_tool_hole {
  position: absolute;
  width: 8vw ;
  height: 8vw ;
  border-radius: 50%;
  border: 0.3vw solid rgb(168, 145, 66);
  box-shadow: 0 0 1vw rgba(168, 145, 66, 0.7);
  left: 6vw;
  bottom: 5vw;
}

.guitar_tuner_tool_string {
  position: absolute;
  width: 29.9vw ;
  height: 0.15vw  ;
  background-color: rgb(168, 145, 66);
  box-shadow: 0 0 0.5vw rgba(168, 145, 66, 0.9);
  transform: rotate(-10deg);
  top: 0;
}

.guitar_tuner_tool_string[value="1"] {
  top: 17.35vw;
}

.guitar_tuner_tool_string[value="2"] {
  top: 18.35vw;
}

.guitar_tuner_tool_string[value="3"] {
  top: 19.35vw;
}

.guitar_tuner_tool_string[value="4"] {
  top: 20.35vw;
    width: 29.7vw;
}

.guitar_tuner_tool_string[value="5"] {
  top: 21.35vw;
      width: 29.5vw;
}

.guitar_tuner_tool_string[value="6"] {
  top: 22.35vw;
      width: 29.1vw;
}
.slick-current {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-dots .slick-dots li button:before {
  color: grey;
  font-size: 1.2vw;
}

.custom-dots .slick-dots li.slick-active button:before {
  color: rgb(168, 145, 66);
}

/* Change the color and size of the arrows */
.custom-dots .slick-prev:before,
.custom-dots .slick-next:before {
  color: rgb(168, 145, 66);
  font-size: 4vw;
}

.custom-dots .slick-prev {
  left: -4.5vw;
}

/* Change the background color of the arrows on hover */
.slick-prev:hover,
.slick-next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.guitar_tuner_tool_icon {
  position: absolute;
  top: 2vw;
  left: 12vw;
}

.guitar_tuner_title {
  width: 100%;
  position: absolute;
  font-size: 4vw;
  color: rgb(168, 145, 66);
  top: 8.5vw;
  text-align: center;
  font-family: "guitar";
  text-shadow: 0 0 1vw rgba(168, 145, 66, 0.7);
}

